@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #f4f45a;
	text-decoration: none;
	display: block;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 15px;
	background: #cdd6e5 no-repeat center center;
	height: 100%;
}

html,
body {
	height: 100vh;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
}

#container {
	flex-grow: 1;
}

#footer {
	margin-top: auto;
}

ul li {
	list-style: none
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

/*---------------index--------------*/
.sjbdmap,
.pcbdmap,
#container,
#containerlow {
	display: none;
}

@media (min-width: 768px) {
	.pcbdmap {
		display: block !important;
	}

	#container {
		display: block !important;
	}

	#containerlow {
		/* Hiển thị trên PC */
		display: block !important;
	}

	#container-social {
		/* Hiển thị trên PC */
		display: block !important;
	}

	#container2 {
		/* Ẩn trên PC */
		display: none !important;
	}

}

#header {
	margin-bottom: 10px;
    background: #ffffff no-repeat center bottom;
    border-bottom: 4px solid #2d4ee1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
}


#header .hInner {
	margin: 0 auto;
	width: 1000px;
}

#header .hInner h1 {
	float: left;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}

#header .hInner h1 span {
	color: #fe8f21;
	font-weight: bold;
}

#header .hInner ul {
	float: right;
}

#header .hInner li {
	margin-left: 10px;
	float: left;
	color: #4D4D4D;
	font-size: 14px;
}

#header .hInner li a {
	margin-right: 3px;
	color: #a6805c;
	font-size: 13px;
}

#header .hInner li:last-child a {
	margin-right: 0;
}

#header .hInner li a:hover {
	color: #ff0;
}

#header .hBox {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header .logo img {
	display: block;
	width: 330px;
	padding:15px;
}

#header .hIm01 {
	margin: 6px 0 0;
	float: left;
	position: relative;
	color: #ffff96;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

#header .hIm01 img,
#header .hIm02 img {
	display: block;
}

#header .hIm02 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#header .hIm02 a {
	background-color: #ffffff;
	border-radius: 35px;
}

#main {
	padding: 22px 13px 0 20px;
	width: 1000px;
	margin: 0 auto 10px;
	position: relative;
	border: 3px solid #3644cd;
	background-color: #4868f7;
}

#main #conts {
	width: 579px;
	float: left;
	position: relative;
	padding-top: 60px;
}

#main #conts:before {
	width: 1px;
	height: 410px;
	position: absolute;
	right: -31px;
	top: 49px;
	border-right: 3px dotted#3644cd;
	content: "";
}

#main h2 {
	margin-bottom: 17px;
	text-align: center;
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
}

#conts .linkUl {
	margin-bottom: 10px;
}

#conts .linkUl li {
	margin-bottom: 35px;
	overflow: hidden;
	zoom: 1;
}

#conts .linkUl li span {
	margin: 1px 10px 0 0;
	padding: 0 3px;
	line-height: 34px;
	float: left;
	width: 294px;
	color: #ffffff;
	font-size: 16	px;
	background-color: #3644cd;
	border: 1px solid #ffffff;
	text-align: center;
}

#conts .linkUl li .txt {
	width: 102px;
	text-align: center;
}

#conts .linkUl li img {
	margin: 11px 9px 0 2px;
	display: block;
	float: left;
}

#conts .linkUl li a {
	width: 123px;
	display: block;
	float: right;
	color: #ffffff;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	background-color: #3644cd;
	border: 1px solid #ffffff;
}

#conts .linkUl li a:hover {
	color: #ffffff;
	background-color: #e23fff;
	font-weight: bold;
}

#main #conts .refresh {
	margin: 0 auto;
	width: 110px;
}

#main #conts .refresh a {
	color: #ffffff;
	font-size: 17px;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	background: #3644cd;
	border: 1px solid #ffffff;
	border-radius: 3px;
}

#main #conts .refresh a:hover {
	color: #ffffff;
	background: #e23fff;
	font-weight: bold
	cursor: pointer;
}

#main #conts .line {
	margin: 17px -4px 30px 0;
	border-bottom: 1px dotted #4868f7;
}

#main #conts .btm {
	color: #4868f7;
	font-size: 14px;
	text-align: center;
}

.socials, .socials a {
	display: flex;
    justify-content: space-between;
	align-items: center;
    margin-top: 10px;
}
.socials img {
	width: 150px;
	height: 40px;
	margin-right: 5px;
}



#main #sideBar {
	padding-top: 55px;
	width: 338px;
	float: right;
	position: relative;
}

#main #sideBar h2 {
	margin-bottom: 17px;
	text-align: center;
}

#main #sideBar .inner {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#main #sideBar .inner .imgBox {
	float: left;
}

#main #sideBar .inner .rBox {
	margin-top: 38px;
	width: 158px;
	float: right;
}

#main #sideBar .inner .rBox .ma {
	margin-bottom: 20px;
	color: #f5f45c;
	font-size: 16px;
	text-align: center;
}

#main #sideBar .inner .rBox .link a {
	margin: 0 auto;
	width: 142px;
	display: block;
	color: #f5f45c;
	font-weight: bold;
	font-size: 16px;
	line-height: 41px;
	text-align: center;
	background: url(../images/index/index-bg02.png) no-repeat;
	background-size: cover;
}

#main #sideBar .img {
	position: relative;
}

#main #sideBar .img img {
	position: absolute;
	top: -10px;
	left: 11px;
}

.img-download-app img{
	width: 280px;
	height: auto;
}

#containerlow {
    padding: 0 0 0 0;
}

#mainlow {
    width: 1000px !important; 
    max-width: 100%; 
	margin: 0 auto 10px; 
	position: relative;
	border: 3px solid #3644cd !important; 
	background-color: #4868f7; 
	padding: 0;
	box-sizing: border-box; 
	overflow: hidden;
}

#banner-pc-list {
    padding: 10px 10px 20px 10px; 
    background-color: #4868f7; 
}

#banner-pc-list h2 {
    width: fit-content; 
	margin: 0 auto 15px; 
    display: block;
    text-align: center;
    padding-top: -200px;
}
#banner-pc-list h2 img {
    display: block;
}

.double-banner-group { 
	display: flex !important;
	gap: 10px; 
	justify-content: space-between; 
	align-items: flex-start;
    padding: 0; 
}

.banner-item {
	flex-basis: calc(60% - 7.5px); 
    	margin-bottom: 0; 
	overflow: hidden;
	border-radius: 5px;
    	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-item img {
    display: block;
    width: 100%;
    height: auto;
}


#tripleBannerCarousel .carousel-control-prev,
#tripleBannerCarousel .carousel-control-next {
    width: 30px; 
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0.7; 
}

#container-social {
    padding: 0; 
}

#main-social {
    width: 1000px !important; 
    max-width: 100%; 
	margin: 0 auto 10px;
	position: relative;
    
	border: 3px solid #004aad !important; 
	background-color: #4868f7; 
    
    box-sizing: border-box; 
    overflow: hidden;
    padding: 22px 13px 22px 20px;

}

#main-social h2 {
    width: fit-content;
    margin: 0 auto 10px;
    padding: 0; 
    display: block;
    text-align: center;
    border-bottom: 1px dotted #004aad; 
    padding-bottom: 10px;
}
#main-social h2 img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Khối liên kết */
.social-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.social-item {
    flex-basis: 33%; 
    text-align: center;
    padding: 15px 10px;
    border-radius: 8px;
    background-color: #3644cd; 
	border: 1px solid #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}
}

.social-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.social-item img {
    width: 70px; 
    height: 70px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 3px solid #ff0; 
    background-color: #fff; 
    object-fit: cover;
    transition: transform 0.3s;
}

.social-item:hover {
    background-color: #e23fff;
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Định kiểu chữ bên dưới icon */
.social-item span {
	display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
	margin-top: 5px;
}




#footer {
	display: flex;
    text-align: center;
    clear: both;
    background-color: #ffffff;
    border-top: 4px solid #2c4cdd;
    bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}


#footer .fImg {
	margin-bottom: 0px;
}

#footer .fImg ul {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #bc3555;
	background-color: #8ad0b8;
}

#footer .fBox {
	padding: 10px;
}

#footer .fNavi li {
	margin: 0 10px;
	display: inline-block;
}

#footer .fNavi li a {
	color: #825c48;
}

#footer .fNavi li a:hover {
	color: #ff0;
}

#footer p {
	margin-top: 7px;
	color: #000000;
	font-size: 18px;
	line-height: 2.5;
}

.box-redirect {
	padding: 0px 13px 0 20px !important;
}

.link-download-app {
	padding: 0px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.link-download-app .content {
	position: relative;
	background-color: #4868f7;
	padding: 10px;
	text-align: center;
	z-index: 2;
}

.link-download-app,
.link-download-app .content {
	border-radius: 10px;
}

.link-download-app h3 {
	color: #4868f7;
	font-size: 16px;
	white-space: nowrap;
}

.link-download-app h3:hover {
	text-shadow: 0 0 2px #ff0;
}


@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}

.box-btn-redirect {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(254, 143, 33, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(254, 143, 33, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(254, 143, 33, 0);
    }
}


@media screen and (max-width: 1024px) {

	#main,
	#header .hBox,
	#header .hInner,
	#footer .fBox {
		max-width: 100%;
	}
}

@media screen and (max-width: 1023.98px) {

	html,
	body {
		overflow-x: hidden;
	}
	
	#container,
	#container2,
	#containerlow,
	#container-social {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#main #sideBar h2,
	.img-download-app {
		display: none;
	}

	#main #conts {
		width: 100%;
	}

	#main #conts:before {
		border: none;
	}

	#header .logo img {
		width: 250px;
	}

	#conts .linkUl li {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
	}

	#main #sideBar {
		width: 100%;
		padding: 0 0 20px;
	}

	.link-download-app {
		margin-top: 0;
		width: 100%;
	}

	.link-download-app::before {
		height: 1125%;
	}

	#header .hInner h1 {
		font-size: 20px;
		padding: 10px;
		text-align: center;
	}

	#conts .linkUl li span {
		padding: 7px;
		font-size: 24px;
		width: 50%;
	}

	#conts .linkUl li a {
		height: 50px;
		background-size: cover;
		font-size: 22px;
	}

	#conts .linkUl li .txt,
	#conts .linkUl li a {
		width: 20%;
	}

	#footer p {
		font-size: 20px;
	}

	.link-download-app .content {
		padding: 20px;
	}

	.link-download-app h3 {
		font-size: 20px;
	}
}

@media screen and (max-width: 767.98px) {
	#app {
		height: fit-content !important;
	}
	.sjbdmap {
		display: block !important;
		margin-bottom: 5px;
	}

	#header .logo {
		width: 45%;
		height: 45%;
	}

	#header {
		padding: 5px 0;
	}

	#header .hBox {
		margin: 0;
		padding: 0 10px;
	}

	#header .logo img {
		width: 130%;
	}

	#header .hIm02 a,
	#header .hIm02 a img {
		width: 80%;
		border-radius: 35px;
		background-color: transparent;
		display: flex;
        justify-content: flex-end;
	}

	#container2 {
		padding-top: 3px;
	}

	#conts h2 img {
		width: 345px;
	}

	#conts .linkUl li span,
	#conts .linkUl li a {
		font-size: 12px;
		padding: 0;
	}

	#conts .linkUl li a {
		height: 37px;
	}

	.link-download-app h3 {
		font-size: 16px;
	}

	.link-download-app::before {
		height: 700%;
	}

	.link-download-app .content {
		padding: 10px;
	}

	#main #conts {
		padding-top: 20px;
	}

	.box-btn-redirect {
		display: grid;
		align-items: center;
		grid-template-columns: auto auto;
	}

	#main-social {
		padding-top: 0;	
    	}

 	.social-links-container {
        display: flex; /* Đảm bảo Flexbox được sử dụng */
        flex-wrap: wrap; /* Rất quan trọng: cho phép các mục xuống dòng */
        justify-content: space-around; /* Căn chỉnh các mục trên hàng */
        gap: 5px; /* Thêm khoảng cách giữa các hàng và cột */
    }


    .social-item img {
        width: 40px; 
        height: 40px; 
        margin-bottom: 5px;
    }

    .social-item span {
        font-size: 14px; 


#footer {
		bottom: 0;
	}

#footer p {
		font-size: 16px;
	}
}


